<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-based Farming AI Assistant</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP18DfMKEPhYABuTVnjNdB8zNARUV6-j3lrQ&s">
</head>
<body>
  <header>
    <div class="logo">
      <img src="static/farm_icon.png" alt="Logo">
    </div>
    <nav>
      <ul>
        <li><a href="http://127.0.0.1:5000">Home</a></li>
        <li><a href="http://127.0.0.1:5000/about">Project Description</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="assistant">
      <h1>Weather-based Farming AI Assistant</h1>
      
      <div class="weather">
        <p id="current-weather">Loading current weather...</p>
        <p>Forecast:</p>
        <div class="forecast" id="forecast"></div>
      </div>

      <div class="recommendations">
        <h2>Recommendations</h2>
        <p id="Crop-rec"></p>
      <p id="irrigation-advice">Loading irrigation advice...</p>
      </div>

      <div class="input-fields">
        <h2>Input Fields:</h2>
        <form id="predictForm">
            <input type="number" id="N" name="N" placeholder="Enter N Value" required>
            <input type="number" id="P" name="P" placeholder="Enter P Value" required>
            <input type="number" id="K" name="K" placeholder="Enter K Value" required>
            <input type="number" id="temperature" name="temperature" placeholder="Enter Temperature" required>
            <input type="number" id="humidity" name="humidity" placeholder="Enter Humidity" required>
            <input type="number" id="ph" name="ph" step="0.01" placeholder="Enter pH value" required>
            <input type="number" id="rainfall" name="rainfall" placeholder="Enter Rainfall(mm)" required>
            <button type="submit">Get Recommendation</button>
        </form>
        <div id="result"></div>
    </div>
      </div>
    </section>
  </main>

  <footer>
    <p>Weather-based Farming AI Assistant </p>
  </footer>
  <script src="static/script.js"></script>
  <script src="static/weather.js"></script>
</body>
</html>
